
.bold{
    font-weight: bold;
    background: linear-gradient(transparent 40%, #ffee01d5 30%);
    
    line-height: 15px;
}
.index{
    border: 1px dotted silver;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 80px;
    
}
#index_first{
    text-align: center;
    margin-bottom: 20px;
}

.body_index{
    
    width:100%;
    line-height: 35px;
    background-color: white;
    z-index: 100;
    padding-bottom:100px;
}
.body_main{
  width:90%;
  margin-left:5%;
  margin-right:5%;
}

.large-container{
  display:flex;
  flex-direction: row;
  gap:4vh;
  max-width: 1280px;
  margin:0 auto;
  background-color: rgb(234, 255, 254);
  z-index: -100;
}
@media screen and (max-width:991px){
   .large-container{
    flex-direction: column;
    gap:0vh!important;
   }
   .body-box{
    width:100%!important;
   }
   .sidepast{
    width:80%!important;
   }
   
   
}
#headtitle{
  margin-top:0px;
  padding-top:21.44px;

}
.body-box{
  width:70%;
}
.index_list{
    padding-left: 40px;
    padding-bottom: 20px;
}
.list{
    color:black;
    text-decoration: none;
    line-height: 40px;
}
.list:hover {
    text-decoration: underline;
}

.responsive-image{
    width:100%;
    height:auto;
    padding-top: 30px;
    padding-bottom:30px;
}
.responsive-image-coment{
  width:100%;
  height:auto;
  padding-top: 30px;
  
}
.responsive-image-start{
  width:100%;
  height:auto;
  padding-bottom:30px;
}

.foot{
    margin-top: 50px;
    text-align: center;
    margin-bottom:100px;
}
.foot a{
    font-weight:bold;
}
body{
  background-color:rgb(234, 255, 254) ;
  z-index: -1000;
}

@media screen and (min-width:769px) {
        
    .padd{
      padding-left: 10%;
    }
  
    }
    .custom-nuvbar{
      background-color: rgb(35, 23, 206)!important;
      
    }
    
    .navbar-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .navbar-toggler{
      border-color: white;
      border-width: 2px;
      color:white;
    }
    .custom-dropdown{
      background-color: rgb(232, 218, 238);
    }
    
    
    .small-image{
        display: block;
        width:65%;
        height: auto;
        padding-top: 30px;
        padding-bottom:30px;
    }
    
    body{
        margin: 0px!important;
    }
    .small-image-2{
        display:block;
        width:40%;
        height:auto;
        padding-top: 30px;
        padding-bottom:30px;
    }

    /*.min-subject{
        display:block;
        border-left:  10px solid  orange;
        padding-left: 10px;
    }
    */
        
    .subject{
        border-bottom: solid 4px;
        border-image: linear-gradient(to right,rgb(255, 167, 181),rgb(224, 3, 224)); 
        border-image-slice: 1; 
        margin-top: 100px;
        margin-bottom:30px;
    
    }
     
    .min-subject {
        border-left: solid 10px;
        border-image: linear-gradient(to bottom, rgb(255, 167, 181),rgb(224, 3, 224)); 
        border-image-slice: 1; 
        
        padding-left:15px;
      }
      .list::after{
        content:"\A";
        white-space: pre;
        
      }
      .code-block {
        font-family: 'Courier New',monospace;
        background-color: rgba(0, 0, 0, 0.925);
        border: 1px solid #ddd;
        line-height: 1.5;
        overflow-x: auto;
        padding-top:10px;
        padding-bottom: 10px;
        display:inline-block;
        padding-right: 35px;
        border-radius: 10px;
        padding-left:15px;
        margin-top: 7px;
        margin-bottom:7px;
        position: relative;
       
      }
      code{
        color:rgb(240, 240, 240)!important;
        
      }
      .code-container {
        
        display: block;
      }
      [class^='copy-']{
        position: absolute;
        top: 3px;
        right: 0px;
        border-radius: 5px;
        cursor: pointer;
        background-color: transparent;
        outline: none; 
        border: none; 
        background: none; 
        box-shadow: none; 
      }
      
      .ex_image{
        width:48%;
        height: auto;
      }
      @media (max-width:769px){
        .ex_image{
          width:100%;
          height: auto;
        }
      }
      .side_head_container{
        display:flex;
        flex-direction:row;
        text-decoration:none;
        color:black;
        width:100%;
        margin:0 auto;
        align-items: stretch;
        gap:2.5vh;
        border-top: 1px solid rgb(235, 235, 235);
        border-bottom:1px solid rgb(235, 235, 235);
        height:12%;
        overflow: hidden;

      }
      .side_main_container{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color:black;
        width:100%;
        margin:0 auto;
        align-items: stretch;
        gap:2.5vh;
        height:12%;
        overflow: hidden;
        border-bottom:1px solid rgb(235, 235, 235);
      }
      .side_block-1{
        flex-grow:1;
        padding-left: 5%;
      }
      .side_block-2{
        flex-grow:5;
        padding-right:5%;
      }
      .side_box-1{
          padding-top:15%;
          padding-bottom:15%;
          padding-left:5%;
          height:80%;
          overflow:hidden;
          margin-top:15%;
      }
      .side_box-2{
        overflow:hidden;
      }
     .side_img{
      width:auto;
      height:100%;
      transition:transform 0.5s ease;
     }
     .side_head_container:hover .side_img{
      transform:scale(1.15);
     }
     .side_main_container:hover .side_img{
      transform:scale(1.15);
     }
     .side_head_container:hover {
       opacity: 0.8; 
       filter:brightness(110%);
     }
     .side_main_container:hover{
      opacity:0.8;
      filter:brightness(110%);
     }
     .main_block-1{
      width:100%;
      z-index:100;
      background-color: white;
      height:1000px;
      padding-top:200px;
     }
     .side_title{
        margin-top: 7px;
        margin-bottom:auto;
     }
     .side_subject{
      margin-bottom:10px;
      background:linear-gradient(to right,rgb(3, 20, 255),rgb(102, 7, 255)); 
      margin:0px 5% 20px 5%;
      padding-top: 12px;
      padding-bottom:12px;
     }
     .side_subject_title{
      margin-top:0px;
      margin-bottom: 0px;
      margin-left:15px;
      color:white;
      
     }
     .sidepast{
      width:30%;
    }
    .navigation{
      width:100%;
      height: 56px;
    }
    .boil{
      /*ボタンタグ */
       position:absolute;
       bottom:-35px;
       left:20%;
       height:35px;
       background-color:white ;
       border:none;
       width:60%;
       
   
       
   }
   .copy_block{
       position: relative;
       background-color: rgb(236, 236, 236);
       
   }
  
  

